@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;800&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	transition: 150ms;
}
html {
	height: 100%;
	--health-accent: #0053cf;
	--work-accent: #9747ff;
	--home-accent: #639462;
	--other-accent: #ea8c00;
}
body {
	height: auto;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background: #9e9e9eb6;
}
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}
/*
Tabs
*/
.tab-wrapper {
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	z-index: 999;
}
.tab {
	cursor: pointer;
	height: 1rem;
	width: 8rem;
	padding: 0 20px;
	margin: 0px 2px;
	border-radius: 3px;
	opacity: 0.2;
	background: #000;
	box-shadow: 0 0.5rem 0.8rem #ffffff80;
	text-align: center;
	color: rgb(255, 255, 255);
}
.tab:hover {
	height: 2rem;
	line-height: 2rem;
	opacity: 0.7;
}
.radioTab {
	display: none;
}
.panels-wrapper {
	padding-top: 20px;
}
.panel {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: fadein 0.8s;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#private:checked ~ .tab-wrapper #private-tab,
#server:checked ~ .tab-wrapper #server-tab {
	background: black;
	color: white;
	border-bottom: 3px solid #0053cf;
	opacity: 0.9;
}

/**/

.main {
	padding: 44px 0;
	width: 80%;
	min-width: 250px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	background-color: rgba(60, 134, 244, 0.15);
	border-radius: 12px;
	border: none;
	padding: 1rem 0;
	color: #0053cf;
	font-size: 1rem;
	font-weight: 800;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.button:disabled {
	background-color: #d3d3d3;
	color: white;
}
.button:hover {
	background-color: rgba(60, 134, 244, 0.35);
}
.button:active {
	background-color: #3c86f4;
	color: white;
}

.main input[type='checkbox'] {
	accent-color: #0053cf;
}

.main h1 {
	margin-bottom: 2px;
	font-size: 2rem;
}
.main h2 {
	margin: 2rem 0 1rem;
}
.main ul {
	margin-bottom: 1rem;
	list-style: none;
	word-break: break-word;
}
.title {
	min-height: 85px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.search-bar {
	height: 52px;
	margin: 42px 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: min(20px, 2vw);
}
.search-bar input[type='text'] {
	height: 100%;
	flex: 1 1 85%;
	border-radius: 12px;
	border: 1px solid #d2d2d2;
	background-color: #f5f5f5;
	padding-left: 22px;
	color: black;
	font-size: 1rem;
	font-weight: 500;
}
.search-bar button {
	flex: 1 1 15%;
	min-width: 90px;
	border-radius: 12px;
}

.li-tag {
	width: fit-content;
	padding: 2px 8px;
	border: none;
	border-radius: 6px;
	background: #ffecc7;
	font-size: 12px;
	color: var(--other-accent);
}
.li-tag-home {
	background-color: #e2f7e2;
	color: var(--home-accent);
}
.li-tag-work {
	background: #e8d7ff;
	color: var(--work-accent);
}
.li-tag-health {
	background: rgba(60, 134, 244, 0.31);
	color: var(--health-accent);
}

.list-completed * {
	color: #838383;
}
.list-completed .li-tag {
	background-color: #f5f5f5;
}
.completed-list .list-item {
	color: #838383;
}
.completed-list .li-tag {
	background-color: #f5f5f5;
	color: #838383;
}

.modal:has(.taskCreator) h3 {
	margin-bottom: 38px;
}
.taskCreator {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	gap: 18px;
}
.newTaskTitle {
	min-height: 52px;
	padding: 1rem 21px;
	border-radius: 12px;
	border: 1px solid #d2d2d2;
	background-color: #f5f5f5;
}
.newTask-more {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tagSelector {
	display: flex;
	gap: 12px;
}
.newTaskTag:has(.radioTab:checked) {
	outline: 2px solid var(--other-accent);
}
.li-tag-health.newTaskTag:has(.radioTab:checked) {
	outline: 2px solid var(--health-accent);
}
.li-tag-work.newTaskTag:has(.radioTab:checked) {
	outline: 2px solid var(--work-accent);
}
.li-tag-home.newTaskTag:has(.radioTab:checked) {
	outline: 2px solid var(--home-accent);
}
.newTaskTag:focus {
	box-shadow: 0 0 3px 2px black;
}
.datePicker {
	position: relative;
	width: max(20%, 117px);
	height: 40px;
	display: flex;
	text-align: center;
	border: 2px solid rgba(60, 134, 244, 0.6);
	border-radius: 12px;
	font-weight: 500;
}
.datePicker::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	border-color: black;
	opacity: 0.1;
	/*current solution makes manual input not very comfortable (adjustable by width)*/
	/* display: none; */
	/* would remove the element as per mockup, but why have input type=date without the calendar dropdown */
	/* did not find the element used by moz browser :( */
}

.todaysTasks {
	padding-top: 9px;
	flex: 1 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	overflow: hidden;
	font-weight: 500;
	/*
	there is a note in the mockup, stating:
		min width is 350px
		max width is 500px
	Seeing as this element is a modal, a content-blocking element, there's no point in using absolute values. List itself has limited width (maybe that is what the note is talking about?)
	Note also states:
		in case if user has more tasks, the list should be scrolled
	This is implemented
	*/
}
.todaysTasks ul {
	margin: 0;
	max-height: 85%;
	list-style: none;
	overflow: auto;
}
.todaysTasks li {
	margin: 9px 0 0 24px;
	font-weight: 400;
	word-break: break-word;
}

.notification {
	position: fixed;
	top: 1vh;
	right: 1vh;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
}
.notification * {
	display: none;
	margin: 10px;
	color: white;
}
.notification:hover {
	width: fit-content;
	height: fit-content;
	border-radius: 15px;
	border: 1px solid rgba(255, 0, 0, 0.5);
	background-color: rgba(128, 128, 128, 0.1);
}
.notification:hover * {
	display: block;
}

@media (max-width: 769px) {
	.main {
		width: 94%;
	}
	.search-bar {
		flex-flow: column nowrap;
		margin: 0 0 88px;
	}
	.search-bar input[type='text'] {
		min-height: 54px;
	}
}
