* {
	box-sizing: border-box;
	margin: 0;
}
html {
	height: 100%;
	--violet: invert(46%) sepia(12%) saturate(2394%) hue-rotate(238deg);
	--pink: sepia(74%) saturate(3331%) hue-rotate(303deg);
	--red: invert(30%) sepia(43%) saturate(7009%) hue-rotate(359deg);
	--orange: invert(36%) sepia(61%) saturate(5221%) hue-rotate(20deg);
	--blue: invert(54%) sepia(65%) saturate(644%) hue-rotate(188deg);
	--aquaMarine: invert(73%) sepia(12%) saturate(427%) hue-rotate(119deg);
	--neonYellow: invert(90%) sepia(76%) saturate(3948%) hue-rotate(12deg);
	--yellow: invert(70%) sepia(65%) saturate(1321%) hue-rotate(2deg);
	--green: invert(55%) sepia(10%) saturate(986%) hue-rotate(103deg);
	--dirt: invert(100%) sepia(55%) saturate(1586%) hue-rotate(193deg);
}
body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.854);
	filter: brightness(100%) contrast(150%);
}
body::-webkit-scrollbar {
	display: none;
}
a.start-link {
	padding-top: 50vmin;
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 15vmin;
	line-height: 25vmin;
	color: lightgray;
	font-family: 'Courier New', Courier, monospace;
}
a.start-link:hover {
	text-shadow: 5px 5px 5px black, -5px -5px 5px black;
}
.container {
	position: relative;

	animation: moveY 15s linear infinite alternate,
		colorCycle 150s steps(1) infinite;
}
.DVDLogo {
	position: absolute;
	width: 238px;
	height: 121px;

	animation: moveX 2s linear infinite alternate,
		colorCycle 20s steps(1) infinite reverse;
}

@keyframes ScreenSaverStartBodyAnim {
}

@keyframes moveX {
	0% {
		left: 0%;
	}
	100% {
		left: calc(100% - 238px);
	}
}

@keyframes moveY {
	0% {
		top: 0%;
	}
	100% {
		top: calc(100% - 121px);
	}
}

@keyframes colorCycle {
	0% {
		filter: invert(100%);
	}
	10% {
		filter: var(--green);
	}
	20% {
		filter: var(--pink);
	}
	30% {
		filter: var(--blue);
	}
	40% {
		filter: var(--orange);
	}
	50% {
		filter: var(--neonYellow);
	}
	60% {
		filter: var(--aquaMarine);
	}
	70% {
		filter: var(--red);
	}
	80% {
		filter: var(--dirt);
	}
	90% {
		filter: var(--violet);
	}
	100% {
		filter: var(--yellow);
	}
}
