@font-face {
	font-family: 'San Francisco';
	font-weight: 400;
	src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}
@font-face {
	font-family: 'San Francisco';
	font-weight: 200;
	src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-light-webfont.woff');
}
* {
	box-sizing: border-box;
	margin: 0;
	transition: 200ms;
}
::-webkit-scrollbar {
	width: 10px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 5px;
}
:root {
	--goldenSilver: rgb(218, 203, 151);
}
html {
	height: 100%;
}
body {
	height: auto;
	min-height: 100vh;
	padding: 10px 0;
	background-color: #664330;
	background-image: url('./assets/wood-pattern.png');
	display: flex;
	flex-flow: column-reverse nowrap;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI',
		sans-serif;
}
#phone {
	position: relative;
	min-height: 500px;
	height: 40vh;
	aspect-ratio: 1/2.05;
	min-width: 243.9px;
	border-radius: 25px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(253, 253, 241);
	border: 2px solid var(--goldenSilver);
}
.sideElement {
	width: 2px;
	border-radius: 10px;
	background-color: var(--goldenSilver);
	box-shadow: 0 0 1px black;
	z-index: -1;
}
.sideElement:last-child {
	box-shadow: 0 0 1px white;
}
#volSwitch {
	position: absolute;
	top: 55px;
	left: -3px;
	height: 15px;
}
.sideButton {
	position: absolute;
	height: 30px;
}
#volUp {
	top: 90px;
	left: -3px;
}
#volDown {
	top: 130px;
	left: -3px;
}
#lock {
	top: 90px;
	right: -3px;
}
@media (min-height: 1265px) {
	.sideElement {
		width: max(2px, 0.5vh);
	}
	#volSwitch {
		height: 1.2vh;
		top: 4.5vh;
	}
	.sideButton {
		height: 2.3vh;
	}
	#volUp {
		top: 7vh;
	}
	#volDown {
		top: 10.5vh;
	}
	#lock {
		top: 7vh;
	}
}
#elements {
	margin: 0 0 5%;
	min-height: 20px;
	min-width: 100px;
	height: 7%;
	width: 50%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 40%;
}
#mic {
	border-radius: 50%;
	min-height: 4px;
	height: 20%;
	aspect-ratio: 1/1;
	background-color: black;
}
#offsetLine {
	width: 100%;
	border-radius: 50%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 20%;
}
#camera {
	border-radius: 50%;
	min-height: 6px;
	height: 150%;
	aspect-ratio: 1/1;
	background-color: black;
	box-shadow: inset 0 0 0 1px rgba(120, 119, 119, 0.724);
}
#speaker {
	border-radius: 10px;
	min-width: 50px;
	width: 50%;
	height: 60%;
	background-color: black;
}
#centerButton {
	min-height: 35px;
	height: 3vh;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.055);
	box-shadow: inset 0 0 0.5px 2px var(--goldenSilver);
}
#centerButton_square {
	height: 60%;
	aspect-ratio: 1/1;
	border: 1px solid rgba(211, 211, 211, 0.568);
	border-radius: 8px;
}

#swipeLock {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30%;
}
#swipeLock > #swipeText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 100%;
	color: #ffffff;
	background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
	background-position: 0;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: text-shine 6s infinite linear;
}
@keyframes text-shine {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 100px;
	}
}
#swipeLock > #swipeText::before {
	content: '';
	position: absolute;
	left: -15%;
	display: block;
	height: 1rem;
	width: 1rem;
	background-image: url(./assets/arrow-right.png);
	background-size: contain;
	filter: brightness(90%);
}
