.list-item {
	max-width: 500px;
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.list-item input[type='checkbox'] {
	cursor: pointer;
	position: absolute;
	opacity: 0;
}
.list-item label::before {
	content: '';
	position: relative;
	display: inline-block;
	width: 21px;
	height: 21px;
	background: transparent url(./assets/CheckboxUnchecked.svg) center no-repeat;
	background-size: contain;
}
.list-item:has(input[type='checkbox']:focus-visible) label::before
/* ,
.list-item label:hover::before  */ {
	content: '';
	position: relative;
	display: inline-block;
	width: 21px;
	height: 21px;
	background: transparent url(./assets/CheckboxUnchecked.svg) center no-repeat;
	background-size: contain;
	outline: 2px solid black;
}
.list-item:has(input[type='checkbox']:active) label::before {
	content: '';
	position: relative;
	display: inline-block;
	width: 21px;
	height: 21px;
	background: transparent url(./assets/CheckboxChecked.svg) center no-repeat;
	background-size: contain;
}
.list-item:has(input[type='checkbox']:checked) label::before {
	content: '';
	position: relative;
	display: inline-block;
	width: 21px;
	height: 21px;
	background: transparent url(./assets/CheckboxDisabled.svg) center no-repeat;
	background-size: contain;
}

.label {
	flex-grow: 1;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.label:hover {
	text-shadow: 0 0 30px #0053cf;
}
.item-info {
	flex: 1 1 100%;
	max-width: 440px;
	padding-left: 20px;
	display: flex;
	flex-flow: column nowrap;
	gap: 9px;
	font-size: 18px;
}
.li-more {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 10px;
}

.li-date {
	font-weight: 500;
	font-size: 12px;
	color: #838383;
}
/*
these classes are redundant (same classes are used for new task creator tags)
.li-tag {
	width: fit-content;
	padding: 2px 8px;
	border: none;
	border-radius: 6px;
	background: #ffecc7;
	font-size: 12px;
	color: var(--other-accent);
}
.li-tag-home {
	background-color: #e2f7e2;
	color: var(--home-accent);
}
.li-tag-work {
	background: #e8d7ff;
	color: var(--work-accent);
}
.li-tag-health {
	background: rgba(60, 134, 244, 0.31);
	color: var(--health-accent);
} */

.icon-interactive {
	border: none;
	cursor: pointer;
}
.icon-interactive:hover {
	scale: 1.1;
}
.icon-interactive:active {
	scale: 1.2;
}

.delete-icon {
	height: 1rem;
	width: 1rem;
	background-image: url(./assets/Delete.svg);
}
.delete-icon:hover {
	filter: brightness(0) saturate(100%) invert(43%) sepia(59%) saturate(2368%)
		hue-rotate(200deg) brightness(100%) contrast(92%);
}
.delete-icon:active {
	filter: brightness(0) saturate(100%) invert(23%) sepia(80%) saturate(7099%)
		hue-rotate(212deg) brightness(89%) contrast(100%);
}

@media (max-width: 769px) {
	.list-item {
		max-width: 98%;
	}
}
